<p class="lead">{{ text_support }}</p>
<p class="prmn-cmngr-settings__block">
  <a href="https://opencartforum.com/profile/28285-progroman/" class="btn btn-primary btn-lg" target="_blank">
    opencartforum.com
  </a>
  <a href="https://liveopencart.ru/progroman" class="btn btn-primary btn-lg" target="_blank">
    liveopencart.ru
  </a>
  <a href="https://prodelo.biz/progroman" class="btn btn-primary btn-lg" target="_blank">
    prodelo.biz
  </a>
</p>
<p>
  Email: <a href="mailto:mr.progroman@yandex.ru">mr.progroman@yandex.ru</a>
</p>