<div class="alert alert-danger" role="alert">
    <p>{{ yandex_go_delivery_token_not_works }}</p>
    <p>{{ yandex_go_delivery_token_not_works_description }}</p>
    <div class="row top-space-10">
        <div class="col-sm-12">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-cabinet-modal">
                {{ connect_yandex_go_delivery_button }}
            </button>
        </div>
    </div>
</div>
