<div class="alert alert-danger" role="alert">{{ delivery_not_connected }} <a
            href="https://taxi.yandex.ru/action/business/delivery/?utm_source=opencart&utm_campaign=cargo&utm_content=banner"
            target="_blank">
        {{ connect }}
    </a>
</div>

