<div class="yandex-taxi-delivery-support_contact row">
    <div class="col-md-12">
        <p>{{ text_support_questions }}</p>
        <p>{{ text_support_bot }} <a target="_blank" rel="noopener noreferrer" href="https://telegram.me/api_taxi_bot">@api_taxi_bot</a></p>
        <p>{{ text_support_email }}
            <a href="mailto:corptaxi-api@yandex-team.ru" target="_blank" rel="noopener noreferrer">corptaxi-api@yandex-team.ru</a>
        </p>
        <p>Plugin Version: {{ plugin_version }}</p>
    </div>
</div>
