@import 'components/artem';
@import 'components/vars';
@import 'components/font-gilroy';
@import 'components/buttons';
@import 'components/heading-title';
@import 'components/back';
@import 'components/buttons';
@import 'components/breedcrumb';
@import 'components/filter';
@import 'components/pagination';
@import 'general';
@import 'sections/top-banner';
@import 'sections/slider';
@import 'sections/request';
@import 'sections/questions';
@import 'sections/products';
@import 'sections/product-detail';
@import 'sections/our-store';
@import 'sections/ourservice';
@import 'sections/head1';
@import 'sections/head2';
@import 'sections/delivery';
@import 'sections/checkout';
@import 'sections/description';
@import 'sections/exposition';
@import 'sections/feedback';
@import 'sections/footer';
@import 'sections/fundraiser';
@import 'sections/navigation';
@import 'sections/introduction';
@import 'sections/subcategory';
@import 'pages/product';
@import 'pages/information';
@import 'pages/news';
@import 'pages/blog';
@import 'pages/simpleregister';
@import 'pages/simplecheckout';
@import 'pages/search';