.panel {
  background-color: #3a0078 !important;
  color: #fff;
  font-size: 2em;
  height: 100vh;
  text-align: center;
  width: 20%;
  float: left;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.orders {
  width: 80%;
  float: right;
}
.find {
  background-color: #7bdd68;
}
.success {
  color: #09b609;
}
.error {
  color: red;
}
.btn {
  height: 100px;
}
