.feedback {
  padding-top: 91px;
  padding-bottom: 107px;
  background-color: white;

  &__title {
    color: #000;
    font-size: 48px;
    font-weight: 700;
    line-height: 1em;
    text-align: center;

    span {
      margin-left: 53px;
      font-size: 18px;
      font-weight: 600;
      color: $text;
    }
  }

  &__box {
    margin: auto;
    margin-top: 101px;
    overflow: hidden;
    max-width: 1277px;
    border: 2px solid rgba(117, 117, 117, 0.27);
    height: auto;

    &-inner {
      display: inline-block;
      // width: calc(100% + 13px);
      height: inherit;
      // overflow-y: scroll;
    }

    .center_kupiapp {
      // display: none!important;
    }

    #feedback_vk {}
  }
}

@media screen and (max-width: 991.98px) {
  .feedback {
    padding-top: 9vw;
    padding-bottom: 9vw;

    &__title {
      span {
        margin-top: 1em;
        margin-left: 0;
        padding: 0 15px;
        display: block;
        line-height: 1em;
      }
    }

    &__box {
      margin-top: 9vw;
    }
  }
}


@media screen and (max-width: 767.98px) {
  .feedback {
    padding-top: 14vw;
    padding-bottom: 14vw;

    &__title {
      font-size: calc(2em + 2vw);

      span {
        font-size: calc(1rem + 1.2vw);
      }
    }
  }
}
