body {
  margin: 0;
  padding: 0;
  background-color: white;  
  background-image: none;
  font-family: "Gilroy";
  font-size: 16px;
  position: relative;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  line-height: 1em;
  margin-bottom: 1em;
}

.container {
  margin: 0 auto;
  max-width: 1315px;
  width: 100%;
  padding: 0 15px;
  // overflow: hidden;
  height: inherit;
  background: unset;
  position: relative;

  &:before {
    display: none;
  }

  &:after {
    display: none;
  }
}

a,
a:focus {
  outline: none !important;
  border: none;
}



button {
  background: none;
  border: medium none;
  cursor: pointer;
}

.header {
  background-color: white;
  overflow: hidden;
}

#myModal {
  font-family: "Gilroy";

  .form-block {
    min-height: 185px;

    input {
      margin: 13px 0;
    }

    input:focus {
      border-color: $accent;
      box-shadow: 0 0 2px $accent;
    }

    .btn {
      font-family: inherit;
      background: $accent;
      height: 40px;
      font-weight: 600;
      font-size: 18px;
      color: #fff;
      text-transform: uppercase;
    }
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.tab-pane.active {
  border: none;
}