.products {
  margin-top: 3em;
  padding-bottom: 2em;
  overflow: hidden;

  &_new {
    background-color: #eeebeb;
  }

  &_hits {
    background-color: #fff;
  }


  &__title {
    // padding-top: 62px;
    // margin-bottom: 52px;
    font-size: 48px;
    color: #000;
    width: 100%;
    text-align: center;
    // color: #fff;
    font-size: 30px;
    font-weight: 700;
    line-height: 72px;

    &_new,
    &_hits {
      color: #000;
    }

    &_hits {
      font-size: 48px;
    }

    &_related {
      color: #000;
    }

  }

  &__box {
    // margin-top: 51px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &-item {
      margin: .7em 0;
      width: 300px;
      display: inline-block;

      height: 524px;
      position: relative;
      border: 1px solid rgba(127, 127, 127, .25);
      text-align: center;
      background-color: white;

      &:hover {
        transition: .3s;
        transform: scale(1.05);
        z-index: 1;
        box-shadow: 0 12px 24px rgba(0, 0, 0, 0.2);
      }

      &-img {
        margin-top: 4.5%;
        display: inline-block;
        width: 90%;
        height: 50%;
        object-fit: cover;
      }

      &-title {
        margin: 0.5em 0.5em 0 0.5em;
        font-size: 24px;
        text-align: center;
        font-weight: 600;
        height: 2.1em;
        overflow: hidden;

        &-link {
          color: #000;

          &:hover,
          &:focus {
            color: #000;
            text-decoration: none;
          }
        }
      }

      &-text {
        margin: 0.8em auto;
        width: 80%;
        height: 5.6em;
        color: $text;
        font-size: 14px;
        overflow: hidden;
      }

      &-bottom {
        display: inline-block;
        width: 100%;
        height: 17%;
        position: absolute;
        left: 0;
        bottom: 0;
        border-top: 1px solid rgba(127, 127, 127, .25);
      }

      &-price {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 37%;
        height: 100%;
        font-size: 30px;
        color: #e1133d;
        font-weight: 700;
        float: left;
        border-right: 1px solid rgba(127, 127, 127, .25);

        &_news {
          font-size: 1.4em;
        }
      }

      &-btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 63%;
        height: 100%;
        font-size: 18px;
        line-height: 1.8em;
        font-weight: 600;
        color: black;
        padding: 0;

        &:hover {
          background-color: $accent;
          color: white;
        }

        &-ico {
          display: inline-block;
          width: 34px;
          height: 32px;
          margin-right: 12px;
          position: relative;
          bottom: 2px;
          background: url(./images/btn-cart.svg);
        }
      }
    }
  }
}

@media screen and (max-width: 1199.98px) {
  .products {
    &__box {
      justify-content: center;

      &-item {
        margin: .5em;
        width: 32%;

        min-width: 300px;
      }
    }
  }
}

@media screen and (max-width: 991.98px) {}

@media screen and (max-width: 767.98px) {
  .products {
    &__box {
      &-item {
        width: 100%;
        min-width: 300px;
        max-width: 400px;
      }
    }
  }
}

@media screen and (max-width: 575.98px) {
  .products {
    &__title {
      font-size: calc(1.5em + 2vw);
      line-height: 1.2em;
      text-align: center;
    }

    &__box {

      &-item {
        min-width: 80%;
      }
    }
  }
}

@media screen and (max-width: 449.98px) {
  .products {
    margin-top: 2em;
    &__box {
      &-item {
        width: 100%;
        min-width: 300px;
        height: 120vw;

        &-title {
          margin-top: 2vw;
          font-size: calc(1em + 1.3vw);

        }

        &-text {
          margin: 1.5vw auto;
          font-size: calc(0.6em + 0.8vw);
          height: 4.3em;
          overflow: hidden;
        }

        &-price {
          font-size: calc(1em + 2vw);
        }
      }
    }
  }
}