.filter {
  &__label {
    // float: left;
    margin: 0;
    height: inherit;
    display: inline-block;
    line-height: 2em;
  }

  &__input,
  &__checkbox {
    margin-left: 1em;
    margin-right: 1em;
    display: inline-block;
    width: 20%;
  }
}

@media screen and (max-width: 991.98px) {
  .filter {

    &__label,
    &__input,
    &__checkbox {
      display: inline-block;
      width: 40%;
      margin: 1em !important;
    }
  }
}

@media screen and (max-width: 575.98px) {
  .filter {

    &__label,
    &__input,
    &__checkbox {
      display: block;
      width: 90%;
      margin: 1.2em auto!important;
    }
  }
}
